.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid 2px #0275d8;
  text-decoration: none;
  color: #0275d8;
  white-space: nowrap;
  z-index: 0;
}

.hbtn i {
  padding-right: 8px;
}

.hpill {
  border-radius: 50px;
}

.hbtn.hb-fill-on-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-on-bg-br:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-bottom-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-bottom-bg-br:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-left-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-left-bg-br:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-top-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-top-bg-br:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-right-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-right-bg-br:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-middle-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-middle-bg-br:hover:before {
  width: 100%;
  height: 50%;
  opacity: 1;
}

.hbtn.hb-fill-middle2-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-middle2-bg-br:hover:before {
  width: 50%;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-on-rev-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-on-rev-bg-br:hover:before {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hbtn.hb-fill-bottom-rev-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-bottom-rev-bg-br:hover:before {
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-left-rev-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-left-rev-bg-br:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-top-rev-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-top-rev-bg-br:hover:before {
  width: 100%;
  height: 0;
  opacity: 1;
}

.hbtn.hb-fill-right-rev-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-right-rev-bg-br:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.hbtn.hb-fill-middle-rev-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-middle-rev-bg-br:hover:before {
  width: 100%;
  height: 0%;
  opacity: 1;
}

.hbtn.hb-fill-middle2-rev-bg-br:before {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 50%;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hbtn.hb-fill-middle2-rev-bg-br:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}

.hb-fill-top-bg-br, .hb-fill-right-bg-br, .hb-fill-bottom-bg-br, .hb-fill-left-bg-br, .hb-fill-on-bg-br, .hb-fill-middle-bg-br, .hb-fill-middle2-bg-br {
  background: transparent;
  color: #0275d8;
  transition: all 0.3s ease;
}

.hb-fill-top-bg-br:hover, .hb-fill-right-bg-br:hover, .hb-fill-bottom-bg-br:hover, .hb-fill-left-bg-br:hover, .hb-fill-on-bg-br:hover, .hb-fill-middle-bg-br:hover, .hb-fill-middle2-bg-br:hover {
  color: #fff;
  background: #0275d8;
  transition: all 0.3s ease;
}

.hb-fill-top-rev-bg-br, .hb-fill-right-rev-bg-br, .hb-fill-bottom-rev-bg-br, .hb-fill-left-rev-bg-br, .hb-fill-on-rev-bg-br, .hb-fill-middle-rev-bg-br, .hb-fill-middle2-rev-bg-br {
  background: #0275d8;
  color: #fff;
  transition: all 0.3s ease;
}

.hb-fill-top-rev-bg-br:hover, .hb-fill-right-rev-bg-br:hover, .hb-fill-bottom-rev-bg-br:hover, .hb-fill-left-rev-bg-br:hover, .hb-fill-on-rev-bg-br:hover, .hb-fill-middle-rev-bg-br:hover, .hb-fill-middle2-rev-bg-br:hover {
  background: transparent;
  color: #0275d8;
  transition: all 0.3s ease;
}

.hb-fill-middle-bg-br:after {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hb-fill-middle-bg-br:hover:after {
  height: 50%;
}

.hb-fill-middle-rev-bg-br:after {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hb-fill-middle-rev-bg-br:hover:after {
  height: 0;
}

.hb-fill-middle2-bg-br:after {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hb-fill-middle2-bg-br:hover:after {
  width: 50%;
}

.hb-fill-middle2-rev-bg-br:after {
  position: absolute;
  content: '';
  background: #0275d8;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 50%;
  height: 100%;
  opacity: 1;
  border: solid 2px #0275d8;
}

.hb-fill-middle2-rev-bg-br:hover:after {
  width: 0;
}

.hpill.hb-border-off-br4:after {
  border-radius: 50px;
}

.hpill.hb-border-off2-br4:after {
  border-radius: 50px;
}

.hpill.hb-border-off3-br4:after {
  border-radius: 50px;
}

.hpill.hb-border-top-br4:after {
  border-radius: 50px;
}

.hpill.hb-border-right-br4:after {
  border-radius: 50px;
}

.hpill.hb-border-bottom-br4:after {
  border-radius: 50px;
}

.hpill.hb-border-left-br4:after {
  border-radius: 50px;
}

.hbtn.hb-border-off-br4 {
  position: relative;
  transition-duration: .3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hbtn.hb-border-off-br4:after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: solid 2px #0275d8;
  z-index: 2;
  margin: 0 0;
}

.hbtn.hb-border-off2-br4 {
  position: relative;
  transition-duration: .3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hbtn.hb-border-off2-br4:after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: solid 2px #0275d8;
  z-index: 2;
  margin: 0 0;
}

.hbtn.hb-border-off3-br4 {
  position: relative;
  transition-duration: .3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hbtn.hb-border-off3-br4:after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: solid 2px #0275d8;
  z-index: 2;
  margin: 0 0;
}

.hbtn.hb-border-top-br4 {
  position: relative;
  transition-duration: .3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hbtn.hb-border-top-br4:after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: solid 2px #0275d8;
  z-index: 2;
  margin: 0 0;
}

.hbtn.hb-border-right-br4 {
  position: relative;
  transition-duration: .3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hbtn.hb-border-right-br4:after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: solid 2px #0275d8;
  z-index: 2;
  margin: 0 0;
}

.hbtn.hb-border-bottom-br4 {
  position: relative;
  transition-duration: .3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hbtn.hb-border-bottom-br4:after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: solid 2px #fff;
  z-index: 2;
  margin: 0 0;
}

.hbtn.hb-border-left-br4 {
  position: relative;
  transition-duration: .3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hbtn.hb-border-left-br4:after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border: solid 2px #0275d8;
  z-index: 2;
  margin: 0 0;
}

.hbtn.hb-border-bottom-br4:after {
  left: 0;
  bottom: 0;
  border-top-width: 2px;
  transition: border-top-width 0.1s 0.2s, height  0.2s 0.1s, width   0.2s 0.0s, margin  0.2s 0.0s, border-bottom-width 0.2s 0.0s;
}

.hbtn.hb-border-bottom-br4:hover:after {
  width: 60%;
  height: 0px;
  border-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 4px;
  margin: 0 20%;
  transition: border-top-width 0.1s 0.0s, height 0.2s 0.1s, width  0.2s 0.2s, margin 0.2s 0.2s, border-bottom-width 0.2s 0.2s;
}

.hbtn.hb-border-left-br4:after {
  bottom: 0;
  left: 0;
  border-right-width: 2px;
  transition: border-right-width 0.1s 0.2s, width  0.2s 0.1s, height   0.2s 0.0s, margin  0.2s 0.0s, border-left-width 0.2s 0.0s;
}

.hbtn.hb-border-left-br4:hover:after {
  width: 0;
  height: 60%;
  border-width: 2px;
  border-right-width: 0px;
  border-left-width: 4px;
  margin: 5% 0;
  transition: border-right-width 0.1s 0.0s, width 0.2s 0.1s, height  0.2s 0.2s, margin 0.2s 0.2s, border-left-width 0.2s 0.2s;
}

.hbtn.hb-border-top-br4:after {
  top: 0;
  right: 0;
  border-bottom-width: 2px;
  transition: border-bottom-width 0.1s 0.2s, height  0.2s 0.1s, width   0.2s 0.0s, margin  0.2s 0.0s, border-top-width 0.2s 0.0s;
}

.hbtn.hb-border-top-br4:hover:after {
  width: 60%;
  height: 0;
  border-width: 2px;
  border-bottom-width: 0px;
  border-top-width: 4px;
  margin: 0 20%;
  transition: border-bottom-width 0.1s 0.0s, height 0.2s 0.1s, width  0.2s 0.2s, margin 0.2s 0.2s, border-top-width 0.2s 0.2s;
}

.hbtn.hb-border-right-br4:after {
  bottom: 0;
  right: 0;
  border-left-width: 2px;
  transition: border-left-width 0.1s 0.2s, width  0.2s 0.1s, height   0.2s 0.0s, margin  0.2s 0.0s, border-right-width  0.2s 0.0s;
}

.hbtn.hb-border-right-br4:hover:after {
  width: 0;
  height: 60%;
  border-width: 2px;
  border-left-width: 0px;
  border-right-width: 4px;
  margin: 5% 0;
  transition: border-left-width 0.1s 0.0s, width 0.2s 0.1s, height  0.2s 0.2s, margin 0.2s 0.2s, border-right-width 0.2s 0.2s;
}
